
/IT-Challenge-Java _Tecso/PASO-3/app/node_modules

/IT-Challenge-Java _Tecso/PASO-3/app/node_modules''/home/errmac/Documentos/IT-Challenge-Java _Tecso/PASO-3/app/.env

IT-Challenge-Java _Tecso/PASO-2/OrdóñezGiovanazzi.Iván/workspace-java/proyecto-java-examen/.idea
